// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$white: #FFF;
$dark-blue: #333745;
$light-green: #5fb500;
$light-gray: #f3f6f9;
$card-color: #00394d;





//Spaceing
$s-size: 5px;
$m-size: 10px;
$l-size: 15px;
$xl-size: 20px;
